
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root, :root[data-theme='dark'] {
    --primary-color: #F2E8D5;
    --primary-bg-color: #26200F;
    --secondary-bg-color: #F28585;
}

:root[data-theme='light'] {
    --primary-color: #26200F;
    --primary-bg-color: #F2E8D5;
    --secondary-bg-color: #F28585;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}

body {
    background: var(--primary-bg-color);
    color: var(--primary-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-bg-color);
  border-radius: 50rem;
}

a {
    text-decoration: none;
    color: var(--secondary-bg-color);
}

a:hover {
  color: var(--primary-color);
}

i {
    color: var(--primary-color);
}

b {
    font-weight: 400;
}

h1 {
    font-size: 2.5rem;
    font-weight: 200;
}

h2 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.4rem;
}

h3 {
  font-size: 1.55rem;
  text-align: left;
}

h4 {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.15rem;
  text-align: left;
}

h1, h2, h3 {
    font-family: 'League Spartan', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 200;
}

p, span, li {
    font-size: 1rem;
}

p {
    text-align: justify;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;
}

.header__brand .brand__logo {
    width: 3.25rem;
    height: 3.25rem;
    transform: scaleX(-1)
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--secondary-bg-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu__item {
    width: 100%;
}

.menu--mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--secondary-bg-color);
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: .5rem;
}

.menu__link.active .menu__icon, 
.menu__link.active .menu__text,
.menu__link:hover .menu__icon, 
.menu__link:hover .menu__text {
    color: var(--secondary-bg-color);
    font-weight: 600;
}

.menu__icon, .menu__text {
    color: var(--primary-color);
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;
}

.header__nav {
    display: none;
}

.menu--principal {
    gap: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem 1rem;
}

.main__content1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    padding: 1rem 2rem;
    background-color: var(--secondary-bg-color);
    margin-top: 1rem;
}

.skills h2 {
    text-transform: none;
}

.skills__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.skills__item {
    font-size: 1.5rem;
}

.menu--social {
    gap: 1rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    background: transparent;
    border-radius: 3.125rem;
    border: none;
    padding: 0.875rem 1.5rem;
    transition: ease-in-out .3s;
    cursor: pointer;
    color: var(--primary-color);
}

.btn:hover {
    transform: scale(1.05);
    transition: ease-in-out .3s;
}

.btn span, .btn i {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.btn--primary {
    border: 1px solid var(--primary-color);
}

.btn--primary span {
    color: var(--primary-color);
}

main, .projects, .about, .contact {
    padding: 2.5rem 1rem;
}

footer p {
    font-size: .875rem;
    text-align: center;
    margin-bottom: 5rem;
}

@media (min-width: 768px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--secondary-bg-color);
        padding: 1rem 4rem;
        background: var(--primary-bg-color);
    }

    .nav--mobile {
        display: none;
    } 

    .header__nav {
        display: flex;
    }

    .header__nav,
    .header__toggle {
        min-width: 30%;
    }

    main {
        padding: 8rem 6rem 4rem 6rem;
    }

    .main__content1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    footer {
        margin: 0;
    }
}

@media (min-width: 1400px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--secondary-bg-color);
        padding: 1rem 15rem;
    }
}